body {
    background-image: url(https://i.imgur.com/YPX0r3e.jpeg);
    text-align: center;
    font-family: monospace;
    color: #1B2430;
    margin: 0;
    padding: 0;
}

#container {
    background: #f8f8f2;
}

#container p {
    font-size: large;
}

#cabecera {
    background: #1B2430;
    box-shadow: 0px 2px 10px 2px rgba(81, 85, 126, 0.7);
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo {
    width: 130px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 1em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #816797;
    margin: 0 auto;
}

#footer {
    background: #1B2430;
    box-shadow: 0px 2px 10px 2px rgb(81 85 126 / 70%);
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0.5em;
}